<div class="container">
	<div class="row">
	<div class="col-md-10 col-md-offset-1 text-center">
	      <h1 class="title ">U.ROR.M.SH</h1>
	      <h1 class="subtitle"> It is all about Web Application</h1>
		<div class="grid">
			<div class="col col-3-4">
				<div class="module">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quas a neque tempore explicabo eum nostrum autem sit sint, architecto repellendus assumenda dicta dignissimos fuga earum consectetur temporibus, numquam alias.
				</div>
			</div>

			<!-- <div class="col col-1-4">
				<div class="module">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore at consequatur laudantium ut! Placeat modi assumenda aut sint provident quos accusamus minus, impedit, officia similique recusandae vel laboriosam rerum veniam.
				</div>
			</div> -->
		</div>
	</div>
	</div>

</div>