/* blue : rgb(26,49,64) */
html {
            font-size: 100%;
}
body {
	font-family: "Montaga", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding-top: 150px;
             color : #1A3140;
             background: url(metal.png)  0px 0px repeat;
}

h1, .h1 {
              font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
              font-weight:300;
              font-size:5em;
              margin-top: 0;
              margin-bottom:25px;
              line-height:1em;
          }

h2,
h3,
h4
 {
	font-family: "Josefin Sans",Helvetica, Arial, sans-serif;
}

h2{
	font-size: 3em;
	font-weight: normal;
}
h5 {
	font-family :"Josefin Sans",Helvetica, Arial, sans-serif;
	font-weight : 300;
}

a {
	font-family: "Montaga",Helvetica, Arial, sans-serif;
	line-height: 1.5;
    }
a:hover {
            text-decoration: none;

}

aside, article , section, header, footer, nav {
	display :block;
}

.frontline, .secondline {
   text-shadow : 3px 3px 3px #BBB;
}

.secondline {
    line-height:.9em;
    font-size:3em;
}
.nav {
    position: fixed;
    right: -212px;
    top: 0;
    z-index: 10;
    text-align: left;
    width: 258px;
    height: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.nav-toggle {
    right: 0;
}
#navMove {
    color: #1A3140;
    z-index: 11;
    cursor: pointer;
    background: rgba(0, 0, 0, .2);
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 20px;
    text-align: center;
    font-size: 16px;
    -webkit-transition: background 0.2s linear 0s, color 0.1s linear 0s;
    -moz-transition: background 0.2s linear 0s, color 0.1s linear 0s;
    -o-transition: background 0.2s linear 0s, color 0.1s linear 0s;
    transition: background 0.2s linear 0s, color 0.1s linear 0s;
}
#navMove:hover {
    background: rgba(0, 0, 0, .1);
    color: rgba(0,0,0,.9);
}
.nav-wrapper {
    position: absolute;
    top: 0;
    left: 60px;
    background: #1A3140;
    width: 212px;
    height: 100%;
    }

.nav h1.brand a {
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: gray;
    margin-top: 25px;
    font-weight: 700;
    line-height: 40px;
    }
.nav h1.brand a:hover {
    color: #fff;
}
.nav a {
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-left: 20px;
    color: gray;
    display: block;
    font-size: 12px;
    }
.nav a:hover {
    color: #fff;
}
.nav a:active {
    color: #fff;
}
.section {
    z-index: 1;
    overflow:auto;
    height:100%;
    width: 100%;
    padding-bottom:50px;
    display:none;
    top:0;
   }

#front {
    display: block;
}

.btn-link {
    color: rgba(0,0,0,.5);
}
.btn-link:hover {
    text-decoration: none;
    color: inherit;
}
.btn-sm {
    background: rgba(0,0,0,.3);
    color: #1A3140;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 13px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    -webkit-transition: background 0.2s linear 0s, color 0.1s linear 0s;
    -moz-transition: background 0.2s linear 0s, color 0.1s linear 0s;
    -o-transition: background 0.2s linear 0s, color 0.1s linear 0s;
    transition: background 0.2s linear 0s, color 0.1s linear 0s;
}
.btn-sm:hover{
    background: rgba(0,0,0,.1);
    color:rgba(0,0,0,.9);
}

.footer {
    position: relative;
    margin-top: 0px;
    clear: both;
}








