<!-- (Contact) Section -->
<section class="section" id="contact">
    <div class="container">
        <h1 class="text-center title">Contact</h1>
        <div class="row">
            <div class="text-center">
                <h1 class="secondline">Feel free to contact me</h1>
                <ul class="list-inline">
                    <li><a href="http://arcane-citadel-6636.herokuapp.com/" class="btn btn-link" target = "_blank"><i class = "fa fa-home fa-fw"></i> Blog</a></li>
                    <!-- <li><a href="http://linkedin.com" class="btn btn-link" target = "_blank"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li> -->
                    <li><a href="https://twitter.com" class="btn btn-link" target = "_blank"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                    <!-- <li><a href="https://github.com/" class="btn btn-link" target = "_blank">
                    <i class="fa fa-github fa-fw"></i> Github</a></li> -->
                </ul>
             </div>
                <div class="text-center">
                     <p>urormsh@gmail.com</p>
                </div>
        </div>
    </div>
</section> <!-- End Section Contact -->
