<!-- Nav -->
<nav class="nav" id="nav">
    <div id="navMove"><i class="fa fa-toggle-on"></i></div> <!-- Button -->
        <div class="nav-wrapper">
            <h1 class="brand"><a href="#front" >urormsh</a></h1>
            <a href="#front" class="active">Front Page</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#about">About Me</a>
            <a href="#contact">Contact</a>
            <footer  class = "footer text-center">
            <h5><small>@2014 Template</small></h5>
            </footer>
        </div>
</nav> <!-- End Nav -->
