<!-- Nav -->
<nav class="nav" id="nav">
    <div id="navMove"><i class="fa fa-bars"></i></div> <!-- Button -->
        <div class="nav-wrapper">
            <h1 class="brand"><a href="#front" >uror</a></h1>
            <a href="#front" class="active">Front Page</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#about">About Me</a>
            <a href="#contact">Contact</a>
        </div>
</nav> <!-- End Nav -->
