<!--  (Portfolio) Section -->
<section class="section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1 class="secondline">E-commerce</h1>
                <h4> Front-End is based on Twitter Bootstrap 3</h4>
                <h4> Application works based on Rails 4.1</h4>
                <%= link_to 'Live Demo', 'http://vast-sierra-1095.herokuapp.com/',
                :class => 'btn btn-link btn-sm', :target => "_blank" %>
            <div class="divider-sm">
                <h1 class="secondline">Job Agency</h1>
                <h4> Front-End is based on Twitter Bootstrap 3</h4>
                <h4> Application works based on Rails 4.2.0.beta2</h4>
                <p>The primary goal of this application is to let the user makes 'CV' then apply for the desired position.</p>
                <p><span>Note:</span>Instead of using some gems like 'devise' or 'cancan' to authenticate & to authorize a user, I decided to do it from scratch. To do so, the book 'Ruby on Rails Tutorial' helped me a lot.</p>
                <%= link_to 'Live Demo', 'https://hidden-lake-4284.herokuapp.com/',
                :class => 'btn btn-link btn-sm', :target => "_blank" %>
            </div>
            </div>
        </div> <!-- Row -->
    </div> <!-- Container -->
</section> <!-- End Section Portfolio -->